<!--Dominic Marques, Connor Kuse-->
<md-card layout="row" layout-align="center" class="round-card">
    <div class="round-attr" flex="$ctrl.flexSize">
        {{ $ctrl.round.updatedAt.toLocaleDateString(undefined, {weekday: 'short', month: 'numeric', day: 'numeric', year: '2-digit', hour: 'numeric', minute: 'numeric'}) }}
    </div>
    <md-divider></md-divider>
    <div class="round-attr" flex="$ctrl.flexSize">
        {{ $ctrl.round.winnerScore }} - {{ $ctrl.round.loserScore }}
    </div>
    <md-divider></md-divider>
    <div class="round-attr" flex="$ctrl.flexSize">
        {{ $ctrl.round.winner.name }}
    </div>
    <md-divider></md-divider>
    <div class="round-attr" flex="$ctrl.flexSize">
        {{ $ctrl.round.loser.name }}
    </div>
    <md-divider></md-divider>

    <div flex="$ctrl.customFlexSize" layout="row">
        <div ng-repeat="data in $ctrl.round.customData" layout="row" layout-align="stretch" flex="$ctrl.innerCustomFlexSize">
            <div class="round-attr" flex="100">
                {{ data }}
            </div>
            <md-divider></md-divider>
        </div>
    </div>
    <md-button ng-if="!$ctrl.isDeleted" ng-click="$ctrl.deleteRound()" class="md-icon-button md-warn add-round" aria-label="Add Round" flex="3">
        <md-icon>delete</md-icon>
    </md-button>
    <md-progress-circular ng-if="$ctrl.isDeleted" class="md-primary add-round" flex="3"></md-progress-circular>
</md-card>
