<div>
    <md-card>
        <md-card-title>
            <span class="md-headline">Find a Game Room</span>
        </md-card-title>
        <md-card-content layout="column">
            <form layout="column">
                <md-input-container class="new-room-input">
                    <label>Room ID</label>
                    <input type="text" ng-model="code" required />
                </md-input-container>
                <!-- TODO: add ability to add teammate names and such from creation page -->
                <!-- TODO: Add check to keep user from accidentally closing page without submitting -->
                <div layout="row">
                    <md-button ng-click="$ctrl.joinRoom(code);" value="Join" class="md-raised md-primary">Join</md-button>
                    <md-progress-circular ng-if="$ctrl.isSubmitted" class="md-hue-2" md-diameter="20px"></md-progress-circular>
                </div>
            </form>
            <p ng-if=$ctrl.roomSearchFormSubmission>{{ $ctrl.roomSearchCreationMessage }}</p>
        </md-card-content>
    </md-card>
</div>
