<!--Dominic Marques, Connor Kuse-->
<md-card layout="row" layout-align="center" class="round-card rounds-header" >
    <h3 class="round-attr" flex="25" >
        Round Completed
    </h3>
    <md-divider></md-divider>
    <h3 class="round-attr" flex="25">
        Score
    </h3>
    <md-divider></md-divider>
    <h3 class="round-attr" flex="25">
        Winner
    </h3>
    <md-divider></md-divider>
    <h3 class="round-attr" flex="25">
        Loser
    </h3>
</md-card>
<round ng-repeat="round in $ctrl.rounds" round="round"></round>
