<!--Dominic Marques, Connor Kuse-->
<md-card layout="row" layout-align="center" class="round-card rounds-header">
    <h3 class="round-attr" flex="25">
        Round Completed
    </h3>
    <md-divider></md-divider>
    <h3 class="round-attr" flex="25">
        Score
    </h3>
    <md-divider></md-divider>
    <h3 class="round-attr" flex="25">
        Winner
    </h3>
    <md-divider></md-divider>
    <h3 class="round-attr" flex="25">
        Loser
    </h3>
</md-card>
<md-button ng-click="$ctrl.showAddRound($event)" class="md-raised md-primary">
    Add Round
</md-button>


<!-- Modal for adding a round -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="addRoundDialog">
        <md-dialog layout-align="center">
            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools">Add New Round</div>
            </md-toolbar>
            <form>
                <md-input-container class="round-attr">
                    <label>Winning Team</label>
                    <md-select ng-model="round.winner" required>
                        <md-option ng-repeat="team in $ctrl.teams" ng-value="team">
                            {{ team.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="round-attr">
                    <label>Losing Team</label>
                    <md-select ng-model="round.loser" required>
                        <md-option ng-repeat="team in $ctrl.teams" ng-value="team" md-on-open="loadTeams()">
                            {{ team.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Winner Score</label>
                    <input type="number" ng-model="round.winnerScore" required />
                </md-input-container>
                <md-input-container>
                    <label>Loser Score</label>
                    <input type="number" ng-model="round.loserScore" required />
                </md-input-container>
                <md-button ng-click="$ctrl.createRound(round);" value="Submit" class="md-raised md-primary">Submit</md-button>
            </form>
            <p ng-if=$ctrl.formSubmission>{{ $ctrl.newRoomCreationMessage }}</p>

        </md-dialog>
    </div>
</div>

<round ng-repeat="round in $ctrl.rounds" round="round"></round>
