@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.navbar .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    background: rgb(65,65,65);
    padding: 1em;
    margin: 0;
}

.navbar .buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    list-style: none;
    margin: 0;
    background: forestgreen;
}

.navbar .buttons a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: block;
    padding: 1em;
    color: white;
}

.navbar .buttons a:hover {
    background: rgb(34,100,20);
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}

.room-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    margin: 5px;

    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.teams-outer {
    display: flex;
    justify-content: center;

    margin-top: 0;
    margin-bottom: 10px;
    background-color: #424242;
}

.teams-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    background-color: #6D6D6D;
}

.teams-title {
    display: flex;
    flex-flow: row;
    align-self: center;
    align-items: center;
    text-align: center;
    margin: 5px;

    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.team-card {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5em;
    background-color: #A4A4A4;

    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.team-attr {
    display: flex;
    flex-flow: row;
    align-self: center;
    align-items: center;
    text-align: center;
    margin: 5px;

    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.round-attr {
    align-self: center;
    text-align: center;
}

.round-card {
    margin-top: 0;
    margin-bottom: 0;
}

.rounds-header {
    background-color: rgba(172, 172, 172, 0.5);
}

.roomSelect {
    /* Remove top margin so the dropdown doesn't look so weird */
    margin-top: 0;
}

.add-team {
    align-self: center;
}

.add-round {
    align-self: center;
}
