<!--Dominic Marques, Connor Kuse-->
<md-card layout="column" layout-align="center" class="users">
    <h3 class="team-attr" flex="35">
        Players
    </h3>
    <md-card layout="row" layout-align="center" class="teams-header inner">
        <team ng-repeat="team in $ctrl.teams" team="team" team-delete=$ctrl.teamDelete($event)></team>
        <md-divider></md-divider>
        <md-button ng-click="$ctrl.showAddTeam($event)" class="md-icon-button md-primary add-team" aria-label="Add Team" flex="5">
            <md-icon>add</md-icon>
        </md-button>
    </md-card>
</md-card>
