<div>
    <h1> Hello, world </h1>
    
    <form novalidate class="simple-form">
        <label>Room Name: <input type="text" ng-model="room.name" /></label>
        <br />
        <label for="roomSelect">Game Type: </label>
        <select name="roomSelect" id="roomSelect" ng-model="room.type">
            <option value="">Select Game Type:</option>
            <option value="dye">Beer Dye</option>
            <option value="euchre">Euchre</option>
            <option value="golf">Golf</option>
            <option value="cah">Cards Against Humanity</option>
            <option value="beerPong">Beer Pong</option>
        </select>
        <br>
        <label>Number of Teams:<input type="number" ng-model="room.teams" placeholder="can be changed later"/></label>
        <br />
        <!-- TODO: add ability to add teammate names and such from creation page -->
        <!-- TODO: Add check to keep user from accidentally closing page without submitting -->
        <input type="submit" ng-click="createRoom(room)" value="Save" />
    </form>
</div>
